.homeContainer {
    padding: 0!important;
    button.navbar-toggle {
        float: left;
        border: 0!important;
        background-color: transparent!important;
        margin-left: 2px;
    }
    .currentLink {
        line-height: 50px;
        color: #ffa541;
        .searchIcon {
            float: right;
            line-height: 50px;
            margin-right: 10px;
            color: #fff!important;
        }
    }
    .navbar {
        margin-bottom: 0!important;
        ul.nav {
            .fa {
                padding-right: 10px;
            }
        }
    }
    .homeBody {
        .greetingImgContainer {
            position: relative;
            .postContent {
                bottom: 0;
                left: 7%;
                position: absolute;
                color: #ffa541;
            }
            .greetingsBg {
                width: 100%;
            }
        }
    }
    .menuIconsContainer {
        white-space: nowrap;
        overflow-y: hidden;
        text-align: center;
        .row-fluid {
            margin-top: 5px;
        }
        .menuIconsDiv {
            &:first-child {
                margin-left: 10px;
            }
            display: inline-block;
            text-align: center;
            width: 105px;
        }
        .menuIcons {
            display: inline-block;
            // width: 50%;
            border: 1px solid #f5a041;
            // border-radius: 50%;
            height: 40px;
        }
    }
    .imageCard {
        max-height: 200px;
        white-space: nowrap;
        overflow-y: hidden;
        text-align: center;
        padding: 5%;
        border-top: 3px solid rgba(0, 0, 0, 0.1);
        .thumbnailCard {
            width: 40%;
            height: 150px;
        }
        .imageCardContainer {
            position: relative;
            p {
            	font-size:0.9em;
            }
            .imageCardContent {
                left: 0;
                position: absolute;
                color: #fff;
                background: rgba(221, 221, 221, 0.54);
                width: 100%;
            }
        }
    }
}
