.loginContainer {
    position: fixed;
    height: 90%;
    margin: 0 26px 0 0;
    background: rgba(0, 0, 0, 0.8);
    #bg {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.9;
        /* Preserve aspet ratio */
        min-width: 100%;
        min-height: 100%;
    }
    .loginForm {
        margin: 8%;
    }
    .submitContainer {
        margin-top: 8%;
    }
    .content {
        margin-top: 10%;
    }
}
